@{
    ViewBag.Title = "Request";
}

@section header{<h1>My Concierge</h1>}
<h2>Thanks for using our service</h2>
<p>Your order will be delivered shortly.</p>
@DateTime.Now 
<p>@Html.ActionLink("Back to Menu","Index","Start")</p>

