@model IEnumerable<Ptixiaki201.Requests>


@foreach (var item in ViewData.Model)
{ 
    <h5 style="float:right">@Html.DisplayFor(i=>item.Date)</h5>

    <p><i>The client from room @Html.DisplayFor(i=>item.Room) made a request:</i></p>
    <b>@Html.DisplayFor(i => item.RequestBody)</b>
}
